.center {
     text-align: center;
     color: white;

}

body {
     background-image: url(img/78cb0-clickwallpapers-among-us-game-wallpaper-in-full-hd-img1.jpg);
     background-repeat: repeat-y;
     background-size: contain;
     background-position: top;
}

div {
     margin-top: 20%;
     background-color: blanchedalmond;
     border-radius: 30px;
     padding: 20px;
}

h1 {
     color: blueviolet;
}